:root {
    --header-bg-right-color: #800A7A;
    --main-bg-color: #fff;
    --main-text-color: #222124;
    --pizza-half-color: #E76A06;
    --kombo-half-color: #FC96F7;
    --main-btn-color: #F1B301;
}